.carousel {
	display: flex;

}
.alice-carousel__stage-item__active {
	background-color: green;
}
.carouselItem {
	position: relative;
	display: block;
	flex: 1 1 0px;
	transition: transform 500ms;
}



.carousel .carouselItem:focus,
.carousel .carouselItem:hover {
	transform: scale(1.3);
	z-index: 1;
}

.carouselItem img {
	display: block;
	max-width: 100%;
}

.carouselItem {
	display: flex;
	flex-direction: column;
	object-fit: contain;
	padding: 10px;
}
.carouselItem__img {
	border-radius: 10px;
	margin-bottom: 5px;
	margin-top: 30px;
	box-shadow: 0px 0px 5px black;
	height: 280px;
}
