.home-page {
	background-color: black;
}
.all-movies {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
