* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: "Poppins", "Source Sans Pro", sans-serif, -apple-system,
		BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	height: 100vh !important;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.App {
	width: 100%;
	background-color: black;
	box-shadow: 0 0 20px #eee;
	margin: 0 auto;
	overflow: hidden;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
button {
	border: none;
	outline: none;
	cursor: pointer;
}



/* ----------------- Header ------------------- */
@import url("./components/header/header.css");

/* ----------------- Auth ------------------- */
@import url("./components/body/auth/auth.css");

/* ----------------- Profile ------------------- */
@import url("./components/body/profile/profile.css");

/* ----------------- Movies ------------------- */
@import url("./components/body/movies/movies.css");
