header {
	width: 100%;
	height: 60px;
	background: #282c34;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 30px;
	position: fixed;
	z-index: 100;

}
header a {
	color: white;
}
header a:hover {
	color: #c1cfeb;
}
header ul {	
	padding: 0;
	margin: 0;
}
h4 {
	padding: 0px;
	margin: 0px;
}
header ul li {
	display: inline-block;
	/* padding: 10px 20px; */
	/* opacity: 0.7; */
	/* width: 100px; */
}
.profile-btn {
	height: 35px;
	background-color: transparent;
	border: none;
	margin-left: 25px;
}
header ul li:hover {
	opacity: 1;
}

header img {
	width: 30px;
	height: 30px;
	/* transform: translateY(10px); */
	border-radius: 50%;
}

.right-header-btns {
	display: flex;
	align-items: center;
	/* padding: auto 0px; */
}
/* --------- Dropdown ---------- */
/* .drop-nav {
	position: relative;
	padding: 10px 0;
}
.drop-nav a {
	text-transform: capitalize;
	overflow: hidden;
}
.drop-nav .dropdown {
	position: absolute;
	background: #282c34;
	width: 100%;

	width: calc(100% + 30px);
	top: 50px;
	display: none;
}
.drop-nav .dropdown li {
	display: block;
}
.drop-nav:hover .dropdown {
	display: block;
	align-items: flex-start;
} */
