@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.main-class {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	color: white;
	background-color: transparent;
	text-align: center;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	margin-right: 30px;
	z-index: -1;
}


.jw-player {
	margin-top: 30px;
	width: 65%;
	border: 1px solid white;
	align-items: center;
	justify-self: center;
}

.Content_Row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 18px;
	background-color: #0d1313;

	border-radius: 20px;
	box-shadow: inset 0 0 5px white;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.fa-star,
.fa-clock-o {
	color: #ffd700;
}
.language-content,
.release-content,
.genres-list {
	color: rgb(188, 190, 190);
}
.buttons-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 65px;
}
.yt-trailer-btn {
	background-color: #011316;
	border-radius: 20px;
	border: 1px solid white;
	padding: 10px;
	color: white;
	font-size: 18px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #ffd900c0;
}
.right-buttons-row {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	padding: 10px;
}
.share-btn,
.add-to-list-btn,
.comment-btn,
.like-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;

	border-radius: 20px;
	color: white;
	font-size: 18px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;

	cursor: pointer;
}
.already-liked {
	color: red;
}
.already-inWatchList {
	color: green;
}
.share-btn:hover,
.add-to-list-btn:hover,
.comment-btn:hover,
.like-btn:hover,
.yt-trailer-btn:hover {
	color: #037185;
}
.right-part {
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 97%;
	text-align: left;
	justify-content: flex-start;
}
.youtube-btn {
	margin-top: 15px;
	height: 45px;
}

.ContentModal__landscape {
	border-radius: 10px;
}
.left-part {
	display: flex;
	flex-direction: column;
}

.ContentModal__portrait {
	object-fit: contain;
	z-index: 11;
	justify-content: center;
	border-radius: 10px;
}

.left-btn-row {
	display: flex;
	flex-direction: row;
}

.tagline1 {
	padding-bottom: 10px;
	align-self: center;
	color: wheat;
}


.genres {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
}
.genre {
	margin: 5px;
}

.ContentModal__about {
	padding: 10px;
	height: 90%;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
	justify-content: space-evenly;
	font-weight: 300;
}

.ContentModal__title {
	margin-top: 20px;
	height: 12%;
	font-size: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
}
.tagline {
	padding-bottom: 10px;
	align-self: left;
	color: wheat;
}
.runtime-rating {
	margin-top: 20px;
}



.deleteButton {
	margin-left: auto;
	margin-right: 0;
}

@media (min-width: 835px) {
	.ContentModal__landscape {
		display: none;
	}
	.ContentModal__portrait {
		display: flex;
		width: 100%;
	}
	.ContentModal {
		flex-direction: row;
		justify-content: space-around;
		padding: 10px 0;
	}
	.ContentModal__about {
		width: 58%;
		padding: 0;
		height: 100%;
	}
	.ContentModal__title {
		font-size: 3.5vw;
	}
	.ContentModal__description {
		font-size: 22px;
	}
}
