/* .copy-link {
    display: inline;
    margin-top: 100px;
   padding-top:100px; ;
    

    
} */
.share-btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;

}